 <div marginwidth="0" marginheight="0" style="font-family:Arial,sans-serif;background:#010101;padding:20px 0 0 0">
    <table style="padding:25px 0 15px 0" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody><tr>
        <td width="100%" valign="top">
          <table style="min-width:600px;margin:0 auto" cellspacing="0" cellpadding="0" border="0" bgcolor="f2f2f2" align="center">
            <tbody>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="background-color:#1f2533;padding-top:10px" width="300" valign="top">
                        <a href="www.mymarinecourse.com" style="text-decoration:none;color:#1f2533;font-weight:bold" target="_blank">
                          <img src="http://www.mymarinecourse.com/assets/pages/img/my-marine%20-course-small-logo.png" style="display:block;background-color:#1f2533;color:#010101;padding:10px;padding-left:30px" alt="" border="0">
                        </a>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="background-color:#ffffff;color:#666666;font-size:15px;font-family:Arial,sans-serif;text-align:left;padding:30px 10px 20px 30px;line-height:20px" width="500" valign="top">Dear <span>Student</span>, 
                      <br>Your have successfully registered.Please Click <a href=":link">here</a> to set your password. </td>
                      
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="1F2533" align="center">
                    <tbody><tr>
                      <td style="background-color:#1f2533;color:#0FCFCA;font-size:12px;font-family:Arial,sans-serif;text-align:left;padding:20px 10px 15px 20px" width="260" valign="top">For any further assistance<br><a href="mailto:support@mymarinecourse.com" style="text-decoration:none;color:#0FCFCA;font-weight:bold" target="_blank">support@mymarinecourse.com</a></td>
                      <td style="width:200px;vertical-align:top;background-color:#1f2533;text-align:right;padding:25px 0 15px 0">
                       
                      </td>
                     
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody></table>
  </div>