 <div marginwidth="0" marginheight="0" style="font-family:Arial,sans-serif;background:#010101;padding:20px 0 0 0">
    <table style="padding:25px 0 15px 0" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody><tr>
        <td width="100%" valign="top">
          <table style="min-width:600px;margin:0 auto" cellspacing="0" cellpadding="0" border="0" bgcolor="f2f2f2" align="center">
            <tbody>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="background-color:#1f2533;padding-top:10px" width="300" valign="top">
                        <a href="www.mymarinecourse.com" style="text-decoration:none;color:#1f2533;font-weight:bold" target="_blank">
                          <img src="http://www.mymarinecourse.com/assets/pages/img/my-marine%20-course-small-logo.png" style="display:block;background-color:#1f2533;color:#010101;padding:10px;padding-left:30px" alt="" border="0">
                        </a>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="background-color:#ffffff;color:#666666;font-size:15px;font-family:Arial,sans-serif;text-align:left;padding:30px 10px 20px 30px;line-height:20px" width="500" valign="top">Dear <span>:student</span>, <br>Your Course is <b>Confirmed</b>! </td>
                      <td style="background-color:#ffffff;color:#666666;font-size:12px;font-family:Arial,sans-serif;text-align:left;padding:30px 20px 20px 10px;line-height:20px" width="100" valign="top">
                    </td></tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="540" cellspacing="0" cellpadding="0" border="0" bgcolor="#1f2533" align="center">
                    <tbody><tr>
                      <td width="15">
                      </td><td style="color:#ffffff;font-size:15px;font-family:Arial,sans-serif;text-align:left;padding:25px 10px 25px 15px;line-height:24px;border-right:1px dotted #ffffff" width="370" valign="top">
                        <span style="color:#ffffff;font-size:20px;font-weight:bold">:courseName</span>
                        <br>
                        <span style="color:#ffffff">:orgName</span>
                        <br>
                        <span style="color:#ffffff"><span class="aBn" data-term="goog_778658009" tabindex="0"><span class="aQJ">:startDate</span></span> | :startTime</span>
                      </td>
                      <td style="color:#ffffff;font-size:18px;font-family:Arial,sans-serif;text-align:center;padding:10px;line-height:20px" width="140" valign="top">
                        <br>
                        <b style="width:100%;float:left;word-break:break-all;color:#ffffff"><!-- <img alt="" src="data:image/png;base64,:replaceText"> -->
                        	:bookingNumber
                        </b>
                        <br>
                      </td>
                      <td width="15">
                    </td></tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table style="border:1px solid #e1e5e8" width="538" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                    <tbody><tr>
                      <td width="538" valign="top">
                        <table style="padding:0 30px" width="538" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                          <tbody>
                            <tr>
                              <td style="width:478px;background-color:#ffffff;color:#666666;font-size:12px;font-family:Arial,sans-serif;text-align:left;padding:10px 10px 10px 0;border-bottom:1px solid #e1e5e8" valign="top">
                                <span style="font-size:12px">ORDER SUMMARY </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td width="538" valign="top">
                        <table width="538" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr>
                              <td style="width:30px">
                              </td><td style="width:265px;background-color:#ffffff;color:#666666;font-size:15px;font-family:Arial,sans-serif;text-align:left;padding:10px 10px 10px 0;border-bottom:2px dotted #bfbfbf" valign="top">
                                <span style="font-size:14px;font-weight:bold">COURSE AMOUNT</span>
                              </td>
                              <td style="background-color:#ffffff;color:#666666;font-size:12px;font-family:Arial,sans-serif;text-align:right;padding:10px 0 10px 10px;border-bottom:2px dotted #bfbfbf" width="213" valign="top">Rs.:coursePrice</td>
                              <td style="width:30px">
                            </td></tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  
                    <tr>
                      <td width="538" valign="top">
                        <table width="538" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                           <!--  <tr>
                              <td style="width:30px">
                              </td><td style="width:265px;padding:10px 0 10px 0;background-color:#ffffff;color:#1f2533;font-size:13px;font-family:Arial,sans-serif;text-align:left" valign="top">
                                <strong>Internet handling fees</strong>
                              </td>
                              <td style="background-color:#ffffff;color:#1f2533;font-size:12px;font-family:Arial,sans-serif;text-align:right;vertical-align:top" width="213" valign="top">
                                <br>
                                <strong>Rs.:internetHandlingCharges</strong>
                              </td>
                              <td style="width:30px">
                            </td></tr> -->
                            
                            <tr>
                              <td style="width:30px">
                              </td><td style="width:265px;background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:left;line-height:20px" valign="top"></td>
                              <td style="background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:right;vertical-align:top" width="213" valign="top"></td>
                              <td style="width:30px">
                            </td></tr>
                            <tr>
                              <td style="width:30px">
                              </td><td style="width:265px;background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:left;line-height:20px" valign="top"></td>
                              <td style="background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:right;vertical-align:top" width="213" valign="top"></td>
                              <td style="width:30px">
                            </td></tr>
                            <tr>
                              <td style="width:30px">
                              </td><td style="width:265px;background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:left;line-height:20px" valign="top"></td>
                              <td style="background-color:#ffffff;color:#666666;font-size:9px;font-family:Arial,sans-serif;text-align:right;vertical-align:top" width="213" valign="top"></td>
                              <td style="width:30px">
                            </td></tr>
                    
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td width="538" valign="top">
                        <table width="538" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody><tr>
                            <td style="width:30px">
                            </td><td style="width:265px;padding:15px 10px 0px 0;background-color:#ffffff;color:#666666;font-size:16px;font-family:Arial,sans-serif;text-align:left;border-top:2px dotted #bfbfbf" valign="top">
                              <strong>TOTAL PAID</strong>
                            </td>
                            <td style="padding:15px 10px 15px 0;font-size:18px;font-weight:bold;font-family:Arial,sans-serif;text-align:right;background-color:#ffffff;color:#666666;border-top:2px dotted #bfbfbf" width="213" valign="top">Rs.:totalCost</td>
                            <td style="width:30px">
                          </td></tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td width="540" valign="top">
                  <table width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="background-color:#efefef;color:#666666;font-size:12px;font-family:Arial,sans-serif;text-align:left;padding:10px 10px 35px 0px;line-height:20px" width="202" valign="top">
                        <b>BOOKING DATE &amp; TIME</b>
                        <br>:bookingDate. </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td style="background-color:#ffffff" width="540" valign="top">
                  <table width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody><tr>
                      <td style="color:#666666;font-size:12px;font-family:Arial,sans-serif;text-align:justify;padding:30px 0 40px;line-height:20px" width="540" valign="top">
                        <span style="font-size:12px">
                          <b>Important Instructions</b>
                        </span>
                        <br>
                       						Courses once booked cannot be cancelled or refunded in the portal.<br>
													For cancellation, please contact college administration<br>
						</td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="1F2533" align="center">
                    <tbody><tr>
                      <td style="background-color:#1f2533;color:#0FCFCA;font-size:12px;font-family:Arial,sans-serif;text-align:left;padding:20px 10px 15px 20px" width="260" valign="top">For any further assistance<br><a href="mailto:support@mymarinecourse.com" style="text-decoration:none;color:#0FCFCA;font-weight:bold" target="_blank">support@mymarinecourse.com</a></td>
                      <td style="width:200px;vertical-align:top;background-color:#1f2533;text-align:right;padding:25px 0 15px 0">
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody></table>
  </div>